body{
    background: radial-gradient(circle, #27793a,  #216932);
    font-family: "Open Sans";
    color: #FFFFFF;
    overflow: hidden;
}

@keyframes _transparent {
    from { opacity: 0; }
    to { opacity: 1;}
   }
@-webkit-keyframes _transparent {
    from { opacity: 0; }
    to { opacity: 1;}
   }
@-moz-keyframes _transparent {
    from { opacity: 0; }
    to { opacity: 1;}
   }

@keyframes _transparent_reverse {
    from { opacity: 1; }
    to { opacity: 0;}
}

@-webkit-keyframes _transparent_reverse {
    from { opacity: 1; }
    to { opacity: 0;}
}

@-moz-keyframes _transparent_reverse {
    from { opacity: 1; }
    to { opacity: 0;}
}

#application{
    width: 900px;
    min-width: 900px;
    margin: 0 auto;
    text-align: center;
    animation: _transparent 1s;
    -webkit-animation: _transparent 1s;
    -moz-animation: _transparent 1s;
    margin-top:100px;
}

.logo{
    width: 503px;
    height: 262px;
    margin: 10px 0 10px 0;
}

.butt{
    opacity: 0.85;
    background: #ffffff;
    border-radius: 4px;
    border: 0px;
    font-size: 16px;
    color: #1c7430;
    letter-spacing: 0;
    padding: 10px 20px;
    font-weight: bold;
}
.butt:hover{
    opacity: 1;

}
.menu{
    display: flex;

    display: -ms-flexbox;

}

.menu div:nth-child(2) {
  margin: 0 0 0 auto;
}

.restart{
    display: inline-block;
    opacity: 0.8;
    font-size: 17px;
    letter-spacing: 0;

    color: #FFFFFF;
    font-weight: bold;
    background: none;
    border: 0;
}
.score, .score_score{
    font-family: OpenSans-Bold;
    display: inline-block;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.85;
}

.name{
    margin: 0 0 25px 0;
    padding: 9px;
    font-weight: bold;
    opacity: 0.85;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-size: 28px;
}

.gameField, .gameEnd{
    display: none;
}

.field{
    display: block;
}

.desk{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card {
  transform-style: preserve-3d;
  margin-top: 24px;

}

  .flipped .back {
    transform: rotateY(0deg);
    cursor: pointer;
  }
  .flipped .front {
      transform: rotateY(180deg);
  }

.card, .front, .back {
  width: 130px;
  height: 180px;
  border-radius: 5px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  transition: 0.5s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(-180deg);
}

.hide{
    animation: _transparent_reverse 0.8s;
    -webkit-animation: _transparent_reverse 0.8s;
    -moz-animation: _transparent_reverse 0.8s;
}

.show{
    animation: _transparent 0.5s;
    -webkit-animation: _transparent 0.5s;
    -moz-animation: _transparent 0.5s;
}
.hidden{
    display: none;
}

.hidden_card{
    visibility: hidden;
}
