@font-face {
    font-family: Krungthep;
    src: url("../Fonts/Krungthep.ttf")
}
@font-face {
    font-family: OpenSans-Bold;
    src: url("../Fonts/OpenSans-Bold.ttf")
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url("../Fonts/OpenSans-SemiBold.ttf")
}

body{
    background: radial-gradient(circle, #27793a,  #216932);
    color: #FFFFFF;
    overflow: hidden;
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: OpenSans-Bold;
}

.blocked{
    width: 1000px;
    height: 100vh;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 125, 215, 0);
    display: none;

}
.loading{
	width:67px;
	margin:auto;
    margin-top: 40%;
    display: none;
}
#preloaded{
    position: absolute;
    visibility: hidden;
    margin-left: -10000px;
    width: 0;
    height: 0;
}
.circleG{
	background-color:rgba(255,255,255,0.72);
	float:left;
	height:14px;
	margin-left:8px;
	width:14px;

	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:0.6775s;
		-o-animation-duration:0.6775s;
		-ms-animation-duration:0.6775s;
		-webkit-animation-duration:0.6775s;
		-moz-animation-duration:0.6775s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:9px;
		-o-border-radius:9px;
		-ms-border-radius:9px;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
}

#circleG_1{
	animation-delay:0.1395s;
		-o-animation-delay:0.1395s;
		-ms-animation-delay:0.1395s;
		-webkit-animation-delay:0.1395s;
		-moz-animation-delay:0.1395s;
}

#circleG_2{
	animation-delay:0.3155s;
		-o-animation-delay:0.3155s;
		-ms-animation-delay:0.3155s;
		-webkit-animation-delay:0.3155s;
		-moz-animation-delay:0.3155s;
}

#circleG_3{
	animation-delay:0.4085s;
		-o-animation-delay:0.4085s;
		-ms-animation-delay:0.4085s;
		-webkit-animation-delay:0.4085s;
		-moz-animation-delay:0.4085s;
}



@keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgba(194,194,194,0);
	}

	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgba(194,194,194,0);
	}

	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgba(194,194,194,0);
	}

	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgba(194,194,194,0);
	}

	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgba(194,194,194,0);
	}

	100%{}
}

@keyframes _transparent {
    from { opacity: 0; }
    to { opacity: 1;}
   }
@-webkit-keyframes _transparent {
    from { opacity: 0; }
    to { opacity: 1;}
   }
@-moz-keyframes _transparent {
    from { opacity: 0; }
    to { opacity: 1;}
   }

@keyframes _transparent_reverse {
    from { opacity: 1; }
    to { opacity: 0;}
}

@-webkit-keyframes _transparent_reverse {
    from { opacity: 1; }
    to { opacity: 0;}
}

@-moz-keyframes _transparent_reverse {
    from { opacity: 1; }
    to { opacity: 0;}
}

#application{
    width: 900px;
    min-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top:100px;
    z-index: 120;
    animation: _transparent 1s;
    -webkit-animation: _transparent 1s;
    -moz-animation: _transparent 1s;
}

.logo{
    width: 503px;
    height: 262px;
    margin: 0 auto;
    margin-top: 10%
}

.butt{
    width: 16%;
    opacity: 0.85;
    background: #ffffff;
    border-radius: 4px;
    border: 0px;
    font-size: 16px;
    color: #1c7430;
    letter-spacing: 0;
    padding: 10px 20px;
    margin: 0 auto;
    cursor: pointer;
    font-family: OpenSans-Bold;
}
.butt:hover{
    opacity: 1;

}
.menu{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 900px;

}

.menu div:nth-child(2) {
  margin: 0 0 0 auto;
}

.restart{
    display: inline-block;
    opacity: 0.8;
    font-size: 17px;
    letter-spacing: 0;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    background: none;
    border: 0;
    font-family: OpenSans-SemiBold;
    letter-spacing: -0.25px;
}
.restart:hover{
    opacity: 1;
}
:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

.score{
    display: inline-block;
    text-align: right;
    font-size: 16px;
    font-weight: normal;
    opacity: 0.8;
}
.menu .score_score{
font-family: Krungthep;
opacity: 0.9;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
width: 6%;
text-align: right;
}

.name{
    margin: 3% 0 4% 0;
    opacity: 0.85;

}
.start .name{
text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 0.2px;
}
h2 .name{
    font-size: 24px;
    letter-spacing: 0.15px;
    line-height: 35px;
}

.gameField, .gameEnd, .start{
    display: none;
    -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
}

.field{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.desk{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card {
  transform-style: preserve-3d;
  margin-top: 24px;
}

  .flipped .back {
    transform: rotateY(0deg);
    cursor: pointer;
    pointer-events: auto;
  }
  .flipped .front {
      transform: rotateY(180deg);


  }

.card, .front, .back {
  width: 130px;
  height: 180px;
  border-radius: 5px;
  pointer-events: none;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  transition: 0.5s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(-180deg);
}

.hide{
    animation: _transparent_reverse 0.5s;
    -webkit-animation: _transparent_reverse 0.5s;
    -moz-animation: _transparent_reverse 0.5s;
}

.show{
    animation: _transparent 0.8s;
    -webkit-animation: _transparent 0.8s;
    -moz-animation: _transparent 0.8s;
}

.show_card{
    opacity: 0;
}
